screenit-webservice-broker/src/main/resources/schemas/KOPPEL_DATA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="KOPPEL_DATA">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="VERZONDEN_UITNODIGING" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:long" name="ID"/>
                            <xs:element name="MATCHINGFIELDS">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MATCHINGFIELD" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:normalizedString" name="NAME"/>
                                                    <xs:element type="xs:normalizedString" name="VALUE"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>