screenit-batch-base/src/main/resources/wsdl/DaklapackWebService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  name="DaklapackWebService" targetNamespace="http://tempuri.org/">
    <wsp:Policy wsu:Id="DataUploadEndpoint_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization
                        xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
                <sp:TransportBinding
                        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import
                    schemaLocation="DaklapackWebService.svc.1.xml"
                    namespace="http://tempuri.org/"/>
            <xsd:import
                    schemaLocation="DaklapackWebService.svc.0.xml"
                    namespace="http://schemas.microsoft.com/Message"/>
            <xsd:import
                    schemaLocation="DaklapackWebService.svc.2.xml"
                    namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UploadRequest">
        <wsdl:part name="parameters" element="tns:UploadRequest"/>
    </wsdl:message>
    <wsdl:message name="UploadRequest_Headers">
        <wsdl:part name="DataType" element="tns:DataType"/>
        <wsdl:part name="FileName" element="tns:FileName"/>
        <wsdl:part name="NumberOfRecords" element="tns:NumberOfRecords"/>
    </wsdl:message>
    <wsdl:message name="UploadResponse">
        <wsdl:part name="parameters" element="tns:UploadResponse"/>
    </wsdl:message>
    <wsdl:message name="IUpload_GetReady_InputMessage">
        <wsdl:part name="parameters" element="tns:GetReady"/>
    </wsdl:message>
    <wsdl:message name="IUpload_GetReady_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetReadyResponse"/>
    </wsdl:message>
    <wsdl:portType name="IUpload">
        <wsdl:operation name="Upload">
            <wsdl:input wsaw:Action="http://tempuri.org/IUpload/Upload"
                        name="UploadRequest" message="tns:UploadRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IUpload/UploadResponse"
                         name="UploadResponse" message="tns:UploadResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetReady">
            <wsdl:input wsaw:Action="http://tempuri.org/IUpload/GetReady"
                        message="tns:IUpload_GetReady_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IUpload/GetReadyResponse"
                         message="tns:IUpload_GetReady_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DataUploadEndpoint" type="tns:IUpload">
        <wsp:PolicyReference URI="#DataUploadEndpoint_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Upload">
            <soap:operation soapAction="http://tempuri.org/IUpload/Upload"
                            style="document"/>
            <wsdl:input name="UploadRequest">
                <soap:header message="tns:UploadRequest_Headers" part="DataType"
                             use="literal"/>
                <soap:header message="tns:UploadRequest_Headers" part="FileName"
                             use="literal"/>
                <soap:header message="tns:UploadRequest_Headers" part="NumberOfRecords"
                             use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UploadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetReady">
            <soap:operation soapAction="http://tempuri.org/IUpload/GetReady"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DaklapackWebService">
        <wsdl:port name="DataUploadEndpoint" binding="tns:DataUploadEndpoint">
            <soap:address
                    location="https://webservice.daklapack.com/DaklapackWebService/DaklapackWebService.svc/DataUpload"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>