screenit-webservice-broker/src/main/resources/wsdl/OrganisatieBoomService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://screenit.rivm.nl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        name="OrganisatieBoomServiceService" targetNamespace="http://screenit.rivm.nl/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://screenit.rivm.nl/" elementFormDefault="unqualified"
                   targetNamespace="http://screenit.rivm.nl/" version="1.0">
            <xs:element name="OrganisatieBoomException" type="tns:OrganisatieBoomException"/>
            <xs:element name="getOrganisatieBoom" type="tns:getOrganisatieBoom"/>
            <xs:element name="organisatieBoomResponse" type="tns:organisatieBoomResponse"/>
            <xs:complexType name="getOrganisatieBoom">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="organisatieBoomResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                                name="organisatielijst" type="tns:colonisOrganisatie"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="colonisOrganisatie">
                <xs:sequence/>
                <xs:attribute name="organisatieId" type="xs:long" use="required"/>
                <xs:attribute name="parentId" type="xs:long"/>
                <xs:attribute name="naam" type="xs:string" use="required"/>
                <xs:attribute name="type" type="xs:string" use="required"/>
            </xs:complexType>
            <xs:complexType name="OrganisatieBoomException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getOrganisatieBoomResponse">
        <wsdl:part element="tns:organisatieBoomResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="OrganisatieBoomException_Exception">
        <wsdl:part element="tns:OrganisatieBoomException" name="OrganisatieBoomException_Exception"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOrganisatieBoom">
        <wsdl:part element="tns:getOrganisatieBoom" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OrganisatieBoomService">
        <wsdl:operation name="getOrganisatieBoom">
            <wsdl:input message="tns:getOrganisatieBoom" name="getOrganisatieBoom"></wsdl:input>
            <wsdl:output message="tns:getOrganisatieBoomResponse"
                         name="getOrganisatieBoomResponse"></wsdl:output>
            <wsdl:fault message="tns:OrganisatieBoomException_Exception"
                        name="OrganisatieBoomException_Exception"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrganisatieBoomServiceServiceSoapBinding"
                  type="tns:OrganisatieBoomService">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getOrganisatieBoom">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getOrganisatieBoom">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getOrganisatieBoomResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="OrganisatieBoomException_Exception">
                <soap:fault name="OrganisatieBoomException_Exception"
                            use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrganisatieBoomServiceService">
        <wsdl:port binding="tns:OrganisatieBoomServiceServiceSoapBinding"
                   name="OrganisatieBoomServicePort">
            <soap:address location="http://localhost:14810/services/organisatieboomservice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>