screenit-webservice-broker/src/main/resources/wsdl/VragenlijstDefinitieService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="VragenlijstDefinitieService" targetNamespace="http://screenit.rivm.nl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://screenit.rivm.nl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://screenit.rivm.nl/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://screenit.rivm.nl/">
            <xs:element name="getVragenlijstDefinitie" type="tns:getVragenlijstDefinitie"/>
            <xs:element name="getVragenlijstDefinitieResponse" type="tns:getVragenlijstDefinitieResponse"/>
            <xs:complexType name="getVragenlijstDefinitie">
                <xs:sequence>
                    <xs:element name="documentId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getVragenlijstDefinitieResponse">
                <xs:sequence>
                    <xs:element name="return">
                        <xsd:complexType name="response">
                            <xs:sequence>
                                <xs:element name="code" type="xs:int" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="vragen" type="tns:vraag" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xsd:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="vraag">
                <xs:sequence>
                    <xs:element name="nummer" type="xs:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="tekst" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="verplicht" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="multiplechoice" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="antwoorden" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="VragenlijstProcessingException" type="tns:VragenlijstProcessingException"/>
            <xs:complexType name="VragenlijstProcessingException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="VragenlijstProcessingException">
        <wsdl:part name="VragenlijstProcessingException" element="tns:VragenlijstProcessingException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVragenlijstDefinitieResponse">
        <wsdl:part name="parameters" element="tns:getVragenlijstDefinitieResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getVragenlijstDefinitie">
        <wsdl:part name="parameters" element="tns:getVragenlijstDefinitie">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="VragenlijstDefinitieService">
        <wsdl:operation name="getVragenlijstDefinitie">
            <wsdl:input name="getVragenlijstDefinitie" message="tns:getVragenlijstDefinitie">
            </wsdl:input>
            <wsdl:output name="getVragenlijstDefinitieResponse" message="tns:getVragenlijstDefinitieResponse">
            </wsdl:output>
            <wsdl:fault name="VragenlijstProcessingException" message="tns:VragenlijstProcessingException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VragenlijstDefinitieSoapBinding" type="tns:VragenlijstDefinitieService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getVragenlijstDefinitie">
            <soap:operation soapAction="{http://screenit.rivm.nl/}getVragenlijstDefinitie" style="document"/>
            <wsdl:input name="getVragenlijstDefinitie">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getVragenlijstDefinitieResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VragenlijstProcessingException">
                <soap:fault name="VragenlijstProcessingException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VragenlijstDefinitieService">
        <wsdl:port name="VragenlijstDefinitieServicePort" binding="tns:VragenlijstDefinitieSoapBinding">
            <soap:address location="http://localhost:9090/VragenlijstDefinitieServicePort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
