screenit-webservice-broker/src/main/resources/wsdl/VragenlijstAntwoordenService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="VragenlijstAntwoordenService" targetNamespace="http://screenit.rivm.nl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://screenit.rivm.nl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://screenit.rivm.nl/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://screenit.rivm.nl/">
            <xs:element name="vragenlijstScanned" type="tns:vragenlijstScanned"/>
            <xs:element name="vragenlijstScannedResponse" type="tns:vragenlijstScannedResponse"/>
            <xs:complexType name="vragenlijstScanned">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="vragenlijst" type="tns:vragenlijst"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="vragenlijst">
                <xs:sequence>
                    <xs:element name="documentId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="objId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="scanDatum" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="labId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="status" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="vragen" type="tns:vraag" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xsd:complexType name="vraag">
                <xs:sequence>
                    <xs:element type="xs:string" name="identifier" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="antwoorden" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xsd:complexType>
            <xs:complexType name="vragenlijstScannedResponse">
                <xs:sequence>
                    <xs:element name="return">
                        <xsd:complexType name="response">
                            <xs:sequence>
                                <xs:element name="code" type="xs:int" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="fouten" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="misluktwerkbak" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            </xs:sequence>
                        </xsd:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="VragenlijstProcessingException" type="tns:VragenlijstProcessingException"/>
            <xs:complexType name="VragenlijstProcessingException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="VragenlijstProcessingException">
        <wsdl:part name="VragenlijstProcessingException" element="tns:VragenlijstProcessingException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="vragenlijstScannedResponse">
        <wsdl:part name="parameters" element="tns:vragenlijstScannedResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="vragenlijstScanned">
        <wsdl:part name="parameters" element="tns:vragenlijstScanned">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="VragenlijstAntwoordenService">
        <wsdl:operation name="vragenlijstScanned">
            <wsdl:input name="vragenlijstScanned" message="tns:vragenlijstScanned">
            </wsdl:input>
            <wsdl:output name="vragenlijstScannedResponse" message="tns:vragenlijstScannedResponse">
            </wsdl:output>
            <wsdl:fault name="VragenlijstProcessingException" message="tns:VragenlijstProcessingException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VragenlijstAntwoordenSoapBinding" type="tns:VragenlijstAntwoordenService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="vragenlijstScanned">
            <soap:operation soapAction="{http://screenit.rivm.nl/}vragenlijstScanned" style="document"/>
            <wsdl:input name="vragenlijstScanned">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="vragenlijstScannedResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="VragenlijstProcessingException">
                <soap:fault name="VragenlijstProcessingException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VragenlijstAntwoordenService">
        <wsdl:port name="VragenlijstAntwoordenServicePort" binding="tns:VragenlijstAntwoordenSoapBinding">
            <soap:address location="http://localhost:9090/VragenlijstAntwoordenServicePort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
